body {background-color:#DDDDDD;}
table {background-color:#888888; border-style: dotted;}
hr{background-color:#D83A56;border-style: dotted none none none; border-width:30px;}
th{background-color:#66DE93;}
tr{background-color:#66DE93;}
td{background-color:#FFEAC9;}
img{height: 4em; border-style: double double double double;}
